<script>
  import ImageComparison from '$lib/ImageComparison.svelte';
  import Prose from '$lib/Prose.svelte';
</script>

<Prose>

## Visual Regression Testing Playground

&nbsp;

</Prose>

<ImageComparison />



