<script>
  import ImageComparison from '$lib/ImageComparison.svelte';
  import Prose from '$lib/Prose.svelte';
</script>

<Prose>

# Image Crop or Pad Visual Regression Playground

This is a playground for the kinds of issues that arise during visual regression testing.

&nbsp;

</Prose>

<ImageComparison />



